.form-input {
    padding: 10px 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
    font-family: inherit;
}

.form-input:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.1);
}
.container-fluid{
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(78, 73, 73);
   
}