:root {
  --coffee-dark: #2B1B17;
  --coffee-main: #4E342E;
  --coffee-soft: #8D6E63;
  --coffee-cream: #F5F1EE;
  --coffee-accent: #C69C6D;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: var(--coffee-dark);
  padding: 9px 0;
}

/* Container */

/* Logo */
.logo a {
  color: var(--coffee-accent);
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: var(--coffee-cream);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--coffee-accent);
}

/* underline effect */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--coffee-accent);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Icons */
.button {
  display: flex;
  gap: 18px;
}

.button i {
  font-size: 20px;
  color: var(--coffee-cream);
  cursor: pointer;
  transition: 0.3s;
} */

.button i:hover {
  color: var(--coffee-accent);
  transform: scale(1.1);
}
.hero-section {
  background-image: url("https://caffecorsini.com/cdn/shop/articles/Immagine_il_caffe_biologico.jpg?v=1695973290&width=1200");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(43, 27, 23, 0.6); /* coffee-dark overlay */
  color: var(--coffee-cream);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.hero-overlay h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 18px;
}
.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  border: 2px solid var(--coffee-accent);
  color: var(--coffee-accent);
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: var(--coffee-accent);
  color: var(--coffee-dark);
  transform: translateY(-2px);
}
